body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}
label {
        font-family: "Arial";
	font-size: 9px; font-style: italic;    
}
td {
    vertical-align: top;
    padding: 3px;
}

input.right{ 
         text-align:right; 
}

#formSearch {
    line-height:30px;
    background-color:#eeeeee;
    height:100px;
    width:250px;
    float:center;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
}

#tblSearch {
    border: 1px solid black;
}